*{
 padding: 0;
 margin: 0;
 border: 0;
}
*,*:before,*:after{
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
 height: 100%;
 width: 100%;
 font-size: 100%;
 line-height: 1;
 font-size: 14px;
 -ms-text-size-adjust: 100%;
 -moz-text-size-adjust: 100%;
 -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit; }

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
// -----------------------------
// -------------------------------
:root{
   --title-color:#252B42;
   --subtitle-color:#737373;
   --icons-color:#0D5C63;
   --color-active:#FF7B47;
   --footer-color:#8EC2F2;
   --body-color:#F3F3F3;
   --bg-color:#FAFAFA;
   --bg-footer:#17213C;
}
body{
   font-family: 'Montserrat', sans-serif;
   background:var(--bg-color);
}
.wrap{
   overflow: hidden;
}
._container{
   width: 1046px;
   margin: 0px auto;
}
.heder{
   background: url("../img/header/header-bg.png");
   background-size: 122%;
   background-position: center;
   background-repeat: no-repeat;
   height: 800px;
}
.header__container{
   display: flex;
   flex-direction: row;
   align-items:center;
   height: 104px;
}
.header__logo{
   color: var(--title-color);
   font-size: 24px;
   font-weight: 700;
}
.header__menu{
   margin: 0px 0px 0px 133px;
}
.menu__list{
   display: flex;
   flex-direction: row;
}
.burdger_icons{
   display: none;
   width: 40px;
   height: 40px;
   fill: var(--subtitle-color);
   border: 1px solid var(--subtitle-color);
   padding: 5px;
   border-radius: 5px;
}
.menu__items{
   position:relative;
   display: block;
   padding:0px 24px 0px 0px;
   margin-right:5px;
}
.menu__link:hover{
   color: var(--color-active);
}
.menu__link{
   transition: all .3s ease-in-out 0s;
   font-size: 14px;
   color: #737373;
   font-weight: 600;
}
.active{
   color: var(--color-active);
   pointer-events: none;
}
.header__info{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items:flex-start;
   width: 390px;
}
.header__title{
   margin-top: 100px;
   margin-bottom: 42px;
   font-size: 58px;
   font-weight: 800;
   line-height: 80px;
   color: var(--title-color);
}
.header__subtitle{
   color: var(--subtitle-color);
   font-size: 20px;
   font-weight: 500;
   line-height: 30px;
   margin-bottom: 32px;
}
.header__btn_box{
   display:flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items:center;
}
.header__btn_active{
   margin-right: 10px;
   background:var(--color-active);
   color: #fff;
}
.header__btn{
   border:1px solid var(--icons-color);
   color: var(--icons-color);
}
.btn{
   transition: all .5s ease-in-out 0s;
   cursor: pointer;
   box-sizing: border-box;
   border-radius:70px;
   line-height: 48px;
   padding:0px 35px;
   height:48px;
   font-size: 14px;
   font-weight: 700;
}
.btn:hover{
   opacity: .8;
}
.icons_content{
   fill:var(--icons-color);
   width: 41px;
   height: 41px;
}
// ----------Services------------
.services{
   margin-top:-110px;
   // background:var(--bg-color);
}
.services__row{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.services__card{
   flex-basis: 32%;
   transition:all .2s ease-in-out 0s;
   box-shadow:1px 2px 1px rgba(0, 0, 0, .2);
   padding: 32px 36px;
   background:#fff;
}
.card__title{
   font-size: 24px;
   font-weight: 700;
   color: var(--title-color);
   margin: 20px 0px;
   line-height: 32px;
}
.card__subtitle{
   font-size: 14px;
   line-height: 20px;
   color: var(--subtitle-color);
}
.services__card:hover{
   background:var(--icons-color);
   cursor: pointer;
}
.services__card:hover > .icons_content{
   fill: #fff;
}
.services__card:hover > .card__title{
   color: #fff;
}
.services__card:hover > .card__subtitle{
   color: #fff;
}
// ------------------title/subtitle---------------
.title{
   font-size: 40px;
   font-weight: 700;
   text-align: center;
   margin-bottom:30px;
   color: var(--title-color);
}
.subtitle{
   margin: 0px auto;
   text-align: center;
   font-size: 14px;
   font-weight: 400;
   line-height: 20px;
   width: 80%;
   margin-bottom: 55px;
   color: var(--subtitle-color);
}
// -------Experience------- 
.experience{
   padding:100px 0px 80px 0px;
   background: var(--bg-color);
}
.experience__row{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items:center;
}
.experiens__items{
   padding: 30px 0px 30px 0px;
   background:#fff;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items:center;
   width: 230px;
   height: 210px;
}
.items__number{
   font-size: 40px;
   font-weight: 700;
   color: var(--title-color);
}
.items__subtitle{
   font-size: 16px;
   font-weight: 700;
   color: var(--subtitle-color);
}
// ------------Practice Advice---------
.advice{
   padding:100px 0px 80px 0px;
}
.advice__row{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items:center;
}
.advice__items{
   width: 240px;
   
}
.advice__info_box{
   background:#fff;
   padding: 40px 30px;
}
.advice__items_title{
   color: var(--title-color);
   font-weight: 700;
   font-size: 16px;
   margin-bottom: 28px;
   line-height: 24px;
}
.advice__items_subtitle{
   font-size: 14px;
   font-weight: 500;
   color: var(--subtitle-color);
   line-height: 20px;
}
.advice__img{
   width: 100%;
   height: 138px;
   border:none;
   background:#555;
}
// --------Who-------
.who{
   padding:100px 0px 80px 0px;
   background: #fff;
}
.who__subtitle{
   margin-bottom:100px;
}
.who__row{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items:center;
}
.video__box{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items:center;
   width: 598px;
   height: 442px;
   position:relative;
   background: url("../img/who/video.png");
}
.video__box_play-btn{
   transition: all .2s ease-in-out 0s;
   padding: 20px;
   background:var(--icons-color);
   border-radius:50%;
   width: 100px;
   height: 100px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items:center;
   border-color:#fff;
}
.video__box_play-btn:hover{
   cursor: pointer;
   box-sizing:border-box;
   border:3px solid #fff;
}
.video__box_icon{
   fill: #fff;
}
.who__info{
   padding: 40px 0px 0px 110px;
   width: 455px;
   box-sizing:border-box;
}
.who__info_title{
   font-size: 40px;
   font-weight: 700;
   text-align: left;
   margin-bottom:30px;
   line-height: 52px;
   color: var(--title-color);
}
.who__info_subtitle{
   text-align: left;
   font-size: 14px;
   font-weight: 400;
   line-height: 20px;
   margin-bottom: 55px;
   color: var(--subtitle-color);
}
.list__item{
   margin:0px 0px 40px 0px;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items:flex-start;
}
.list__item_icons{
   fill: var(--color-active);
   width: 32px;
   height: 32px;
   margin:0px 20px 0px 0px;
}
.info__items_title{
   font-size: 16px;
   font-weight: 700;
   color: var(--title-color);
   margin-bottom: 10px;
}
.info__items_subtitle{
   font-size: 14px;
   font-weight: 600;
   color: var(--subtitle-color);
}
// --------Partners-------
.partners{
   position: relative;
   background: var(--bg-color);
}
.partners__container{
   padding: 0px 32px;
}
.partners__row{
   position: relative;
   padding-top: 55px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items:center;
   margin-bottom: 15px;
}
.partners__icons{
   fill: var(--subtitle-color);
   width: 72px;
   height: 72px;
}
.partners__form{
   border-radius:4px;
   position:relative;
   bottom:-55px;
   z-index: 2;
   padding: 0 50px;
   height: 124px;
   background: var(--bg-footer);
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}
.partners__form_title{
   font-size: 24px;
   font-weight: 700;
   line-height:32px;
   color: #fff;
}
.partners__form_label{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 450px;
   height: 50px;
   background:#fff;
   border-radius:4px;
   overflow: hidden;
}
.email{
   padding-left: 20px;
   flex-grow: 1;
}
.partners__sublime_btn{
   transition: all .5s ease-in-out 0s;
   background: var(--color-active);
   color: #fff;
   height: 50px;
   width: 117px;
   font-size: 14px;
   font-weight: 400;
}
.partners__sublime_btn:hover{
   opacity: .8;
}
.partners__box-decoration{
   z-index: 1;
   height: 77px;
   background: var(--title-color);
   position: relative;
}
// ---------Contacts-------------
.contacts{
   padding:100px 0px 150px 0px;
   background: var(--body-color);
}
.contacts__row{
   padding-top: 85px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}
.contacts__items{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   flex-grow: 1;
   padding: 50px 0px;
   background:#fff;
}
// ----contacts hover------
// -------------------------
.contacts__items:hover{
   padding:70px 0px;
   background:var(--bg-footer);
}
.contacts__items:hover > .contacts__items_icons{
   fill:#fff;
}
.contacts__items:hover > .contacts__items_link{
   color: #fff;
}
.contacts__items:hover > .contacts__items_title{
   color: #fff;
}
.contacts__items:hover > .contacts__items_btn{
   border-color: #fff;
   color: #fff;
}
// ----------------------------
// --------------------------
.contacts__items_icons{
   width: 72px;
   height: 72px;
   fill: var(--icons-color);
   margin-bottom: 22px;
}
.contacts__items_link{
   color: var(--title-color);
   margin-bottom: 15px;
   font-size: 16px;
   font-weight: 600;
}
.contacts__items_title{
   margin:15px 0px 22px 0px;
   font-size: 18px;
   font-weight: 700;
   color: var(--title-color);
}
.contacts__items_btn{
   transition: all .3s ease-in-out 0s;
   width:180px;
   height: 45px;
   font-size: 14px;
   font-weight: 400;
   background: none;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   color:var(--color-active);
   box-sizing: border-box;
   cursor: pointer;
   border:1px solid var(--color-active);
   border-radius: 4px;
}
.contacts__items_btn:hover{
   opacity: .7;
}
// -----------------Busines-----------------
.busines{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   height: 140px;
   background: var(--bg-color);
}
.busines__row{
   display: flex;
   flex-direction: row;
   justify-content:space-between;
   align-items: center;
}
.busines__title{
   font-size: 24px;
   font-weight: 700;
   margin-bottom: 10px;
   color: var(--title-color);
}
.busines__subtitle{
   color: var(--subtitle-color);
   font-size: 14px;
   font-weight: 500;
}
.busines__btn{
   transition: all .3s ease-in-out 0s;
   font-size: 14px;
   font-weight: 700;
   color: #fff;
   background: var(--color-active);
   border-radius: 4px;
   padding:15px 40px;
   cursor: pointer;
}
.busines__btn:hover{
   opacity: .8;
}
// ---------------Footer------------
.footer{
   background: var(--bg-footer);
}
.footer__container{
   padding: 50px 0px;
}
.footer__row{
   display: flex;
   flex-direction: row;
   justify-content:flex-start;
   align-items: stretch;
}
.footer__list{
   padding-right: 60px;
}
.footer__list li{
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   color: #fff;
   font-size: 14px;
   font-weight: 600;
   margin-bottom: 10px;
}
.footer__items_title{
   margin-bottom: 20px;
   font-size: 16px ;
   font-weight: 700;
   color: #fff;
}
.footer__items_links{
   transition:all .3s ease-in-out 0s;
   font-size: 14px;
   font-weight: 600;
   color:#fff;
}
.footer__items_links:hover{
   color: var(--footer-color);
}
.footer__contacts_icons{
   fill: var(--footer-color);
   width: 30px;
   height: 30px;
   margin-right: 10px;
}
.reserved{
   background:var(--body-color);
}
.reserved__container{
   padding:20px 0px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}
.footer__reserved_text{
   font-size: 14px;
   font-weight: 600;
   color: var(--subtitle-color);
}
.reserved__icons{
   transition: all .3s ease-in-out 0s;
   cursor: pointer;
   margin-left: 20px;
   width: 24px;
   height: 24px;
}
.reserved__icons:hover{
   transform: scale(1.1);

}
// ---------
// -------1200----
// --------
@media screen and (min-width: 1200px){
   ._container{
      width: 1200px;
      padding: 0px 10px;
   }
   .heder{
      background: url("../img/header/header-bg.png");
      background-size: 100%;
      background-position: 100% 0%;
      height: 800px;
      background-repeat: no-repeat;
   }
   .footer__container{
      padding: 50px 20px;
}
}
// ---------
// -------960px----
// --------
@media screen and (max-width: 960px){
   ._container{
      width: 100%;
      max-width: 960px;
      padding: 0px 10px;
   }
   .heder{
      background: url("../img/header/header-bg.png");
      background-size: 160%;
      background-position: 100% 0%;
      height: 800px;
      background-repeat: no-repeat;
   }
   .footer__container{
      padding: 50px 20px;
}
}
// --------
// ---------- 768px ----------
// ---------
@media screen and (max-width: 768px) {
   ._container{
      width: 100%;
   }
   .header__container{
      padding:0px 10px;
   }
   .burdger_icons{
      display: none;
      cursor: pointer;
   }
   .burdger_icons:hover{
      fill: var(--color-active);
      border-color: var(--color-active);
   }
   .menu__items{
      display: block;
   }
   .heder{
      background: url("../img/header/header-bg.png");
      background-size: 180%;
      background-position: 10% 0%;
      height: 800px;
      background-repeat: no-repeat;
   }
   .header__title{
      padding-left: 20px;
   }
   .header__subtitle{
      padding-left: 10px;
   }
   .header__btn_box{
      padding-left: 10px;
   }
   .btn{
      margin-bottom: 10px;
   }
   .services__row{
      justify-content: space-between;
   }
   .services__card{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin:0px 2px;
   }
   .card__title{
      text-align: center;
   }
   .card__subtitle{
      text-align: center;
   }
   .experience__row{
      flex-wrap: wrap;
      justify-content: space-around;
      align-content: center;
   }
   .experiens__items{
      margin-bottom: 5%;
      flex-basis: 45%;
   }
   .items__subtitle{
      text-align: center;
      line-height: 20px;
   }
   .advice__row{
      flex-wrap: wrap;
   }
   .advice__items{
      flex-grow: 1;
      margin:5%;
   }
   .who__row{
      flex-direction: column;
   }
   .who__info_subtitle{
      text-align: center;
      width: 60%;
   }
   .video__box{
      width: 100%;
      height: 300px;
      background-size: 100%;
      margin-bottom: 20px;
   }
   .who__info{
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 0px 0px;
      justify-content: center;
      align-items: center;
   }
   .who__info_title{
      text-align: center;
      margin-bottom: 10px;
   }
   .who__info_subtitle{
      width: 90%;
   }
   .who__list{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
   }
   .list__item{
      margin: 0px 10px 20px 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
   }
   .list__item_icons{
      width: 60px;
      height: 60px;
      margin-bottom: 20px;
   }
   .partners__container{
      padding: 0px;
   }
   .partners__row{
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
   }
   .partners__items{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 28%;
      margin-bottom: 30px;
   }
   .partners__icons{
      width: 100%;
   }
   .partners__form{
      flex-direction: column;
      width: 100%;
      height: auto;
      padding: 20px 0px;
   }
   .partners__form_title{
      text-align: center;
      width: 100%;
   }
   .partners__form_title > br{
      display: none;
   }
   .partners__form_label{
      margin-top: 20px;
      width: 95%;
   }
   .contacts__row{
      flex-direction: column;
   }
   .partners__box-decoration{
      display: none;
   }
   .contacts__items{
      width: 100%;
      margin-bottom: 20px;
   }
   .busines__row{
      padding: 0px 30px
   }
   .footer__container{
      padding: 50px 20px;
   }
   .footer__row{
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
      
   }
   .busines__title{
      font-size: 23px;
   }
   .footer__list{
      padding: 0px 0px 20px 30px;
      flex-basis: 49%;
   }
   .reserved__container{
      padding: 10px 10px;
   }
}
// --------
// ---------- 480px ----------
// ---------
@media screen and (max-width: 480px) {
   ._container{
      width: 100%;
   }
   .header__container{
      padding:0px 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
   }
   .burdger_icons{
      display: block;
      cursor: pointer;
   }
   .burdger_icons:hover{
      fill: var(--color-active);
      border-color: var(--color-active);
   }
   .menu__items{
      display: none;
   }
   .heder{
      background: url("../img/header/header-bg.png");
      background-size: 380%;
      background-position: 10% 0%;
      height: 700px;
      background-repeat: no-repeat;
   }
   .header__info{
      width: 100%;
   }
   .header__title{
      width: 100%;
      padding-left: 10px;
      font-size: 300%;
      line-height: 100%;
   }
   .header__subtitle{
      padding-left: 10px;
      width: 80%;
      margin-bottom: 10px;
   }
   .header__btn_box{
      padding-left: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
   }
   .btn{
      margin-bottom: 10px;
   }
   .services__row{
      display: flex;
      flex-direction: column;
      justify-content: center;
   }
   .services__card{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
   }
   .card__title{
      text-align: center;
   }
   .card__subtitle{
      text-align: center;
   }
   .experience__row{
      flex-wrap: wrap;
      justify-content: space-around;
      align-content: center;
   }
   .experiens__items{
      margin-bottom: 5%;
      flex-basis: 45%;
   }
   .items__subtitle{
      text-align: center;
      line-height: 20px;
   }
   .advice__row{
      flex-wrap: wrap;
   }
   .advice__items{
      flex-grow: 1;
      margin-bottom:5%;
   }
   .who__row{
      flex-direction: column;
   }
   .who__info_subtitle{
      text-align: center;
      width: 60%;
   }
   .video__box{
      width: 100%;
      height: 300px;
      background-size: 100%;
      margin-bottom: 20px;
   }
   .who__info{
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 0px 0px;
      justify-content: center;
      align-items: center;
   }
   .who__info_title{
      text-align: center;
      margin-bottom: 10px;
   }
   .who__info_subtitle{
      width: 90%;
   }
   .who__list{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   .list__item{
      margin: 0px 10px 20px 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
   }
   .list__item_icons{
      width: 60px;
      height: 60px;
      margin-bottom: 20px;
   }
   .partners__container{
      padding: 0px;
   }
   .partners__row{
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
   }
   .partners__items{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 28%;
      margin-bottom: 30px;
   }
   .partners__icons{
      width: 100%;
   }
   .partners__form{
      flex-direction: column;
      width: 100%;
      height: auto;
      padding: 20px 0px;
   }
   .partners__form_title{
      text-align: center;
      width: 100%;
   }
   .partners__form_title > br{
      display: none;
   }
   .partners__form_label{
      margin-top: 20px;
      width: 95%;
   }
   .contacts__row{
      flex-direction: column;
   }
   .partners__box-decoration{
      display: none;
   }
   .contacts__items{
      width: 100%;
      margin-bottom: 20px;
   }
   .busines{
      height: auto;
   }
   .busines__row{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 40px 10px 40px 10px;
   }
   .busines__title{
      line-height: 30px;
   }
   .busines__btn{
      margin-top: 20px;
   }
   .footer__row{
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
   }
   .footer__list{
      padding: 0px 0px 20px 30px;
      flex-basis: 100%;
   }
   .reserved__container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px 10px;
   }
   .footer__reserved_text{
      text-align: center;
      line-height: 20px;
      margin-bottom: 10px;
   }
   .footer__reserved_social{
      margin-left: -20px;
   }
}