*{
 padding: 0;
 margin: 0;
 border: 0;
}
*,*:before,*:after{
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
 height: 100%;
 width: 100%;
 font-size: 100%;
 line-height: 1;
 font-size: 14px;
 -ms-text-size-adjust: 100%;
 -moz-text-size-adjust: 100%;
 -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit; }

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
// -----------------------------
// -------------------------------
:root{
   --title-color:#252B42;
   --subtitle-color:#737373;
   --icons-color:#0D5C63;
   --color-active:#FF7B47;
   --footer-color:#8EC2F2;
   --bg-color:#FAFAFA;
}
body{
   font-family: 'Montserrat', sans-serif;
   background:var(--bg-color);
}
._container{
   width: 1046px;
   margin: 0px auto;
}
.heder{
   background: url("../img/header/header-bg.png");
   background-size: 122%;
   background-position: center;
   background-repeat: no-repeat;
   min-height: 800px;
}
.header__container{
   display: flex;
   flex-direction: row;
   align-items:center;
   height: 104px;
}
.header__logo{
   color: var(--title-color);
   font-size: 24px;
   font-weight: 700;
}
.header__menu{
   margin: 0px 0px 0px 133px;
}
.menu{}
.menu__list{
   display: flex;
   flex-direction: row;
}
.menu__items{
   position:relative;
   display: block;
   padding:0px 24px 0px 0px;
   margin-right:5px;
}
.menu__items::after{
   transition: all .5s ease-in-out 0s;
   // visibility: hidden;
   opacity: 0;
   position:absolute;
   bottom:-5px;
   left: -10%;
   content: '';
   height: 2px;
   width: 0%;
   background:var(--color-active);
}
.active::after{
   opacity: .5;
   position:absolute;
   bottom:-5px;
   left: -10%;
   content: '';
   height: 2px;
   width: 100%;
   background:var(--subtitle-color);
}
.menu__items:hover::after{
   opacity: 1;
   position:absolute;
   bottom:-5px;
   left: -10%;
   content: '';
   height: 2px;
   width: 100%;
   background:var(--color-active);
}
.menu__link{
   font-size: 14px;
   color: #737373;
   font-weight: 600;
}
.header__info{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items:flex-start;
   width: 390px;
}
.header__title{
   margin-top: 100px;
   margin-bottom: 42px;
   font-size: 58px;
   font-weight: 800;
   line-height: 80px;
   color: var(--title-color);
}
.header__subtitle{
   color: var(--subtitle-color);
   font-size: 20px;
   font-weight: 500;
   line-height: 30px;
   margin-bottom: 32px;
}
.header__btn_box{
   display:flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items:center;
}
.header__btn_active{
   margin-right: 10px;
   background:var(--color-active);
   color: #fff;
}
.header__btn{
   border:1px solid var(--icons-color);
   color: var(--icons-color);
}
.btn{
   transition: all .5s ease-in-out 0s;
   cursor: pointer;
   box-sizing: border-box;
   border-radius:70px;
   line-height: 48px;
   padding:0px 35px;
   height:48px;
   font-size: 14px;
   font-weight: 700;
}
.btn:hover{
   opacity: .8;
}
.icons_content{
   fill:var(--icons-color);
   width: 41px;
   height: 41px;
}




// ----------Services------------
.services{
   margin-top:-110px;
   // background:var(--bg-color);
}
.services__row{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.services__card{
   transition:all .5s ease-in-out 0s;
   box-shadow:1px 2px 1px rgba(0, 0, 0, .2);
   width: 328px;
   height: 242px;
   padding: 32px 36px;
   background:#fff;
}
.icons-service{}
.card__title{
   font-size: 24px;
   font-weight: 700;
   color: var(--title-color);
   margin: 20px 0px;
   line-height: 32px;
}
.card__subtitle{
   font-size: 14px;
   line-height: 20px;
   color: var(--subtitle-color);
}
.services__card:hover{
   background:var(--icons-color);
   cursor: pointer;
}
.services__card:hover > .icons_content{
   fill: #fff;
}
.services__card:hover > .card__title{
   color: #fff;
}
.services__card:hover > .card__subtitle{
   color: #fff;
}



// ------------------title/subtitle---------------
.title{
   font-size: 40px;
   font-weight: 700;
   text-align: center;
   margin-bottom:30px;
   color: var(--title-color);
}
.subtitle{
   margin: 0px auto;
   text-align: center;
   font-size: 14px;
   font-weight: 400;
   line-height: 20px;
   width: 500px;
   margin-bottom: 55px;
   color: var(--subtitle-color);
}



// -------Experience------- 
.experience{
   padding:100px 0px 80px 0px;
   background: var(--bg-color);
}
.experience__container{}
.experience__title{}
.experience__subtitle{}
.experience__row{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items:center;
}

.experiens__items{
   padding: 30px 0px 30px 0px;
   background:#fff;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items:center;
   width: 230px;
   height: 210px;
}
.experiens__icons{}
.items__number{
   font-size: 40px;
   font-weight: 700;
   color: var(--title-color);
}
.items__subtitle{
   font-size: 16px;
   font-weight: 700;
   color: var(--subtitle-color);
}


// ------------Practice Advice---------
.advice{
   padding:100px 0px 80px 0px;
}
.advice__container{}
.advice__title{}
.advice__subtitle{}
.advice__row{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items:center;
}
.advice__items{
   width: 240px;
   
}
.advice__info_box{
   background:#fff;
   padding: 40px 30px;
}
.advice__items_title{
   color: var(--title-color);
   font-weight: 700;
   font-size: 16px;
   margin-bottom: 28px;
   line-height: 24px;
}
.advice__items_subtitle{
   font-size: 14px;
   font-weight: 500;
   color: var(--subtitle-color);
   line-height: 20px;
}
.advice__img_box{}
.advice__img{
   width: 100%;
   height: 138px;
   border:none;
   background:#555;
}
// --------Who-------
.who{
   padding:100px 0px 80px 0px;
   background: #fff;
}
.who__container{}
.who__title{}
.who__subtitle{
   margin-bottom:100px;
}
.who__row{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items:center;
}
.video__box{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items:center;
   width: 598px;
   height: 442px;
   position:relative;
   background: url("../img/who/video.png");
}
.video__box_play-btn{
   transition: all .2s ease-in-out 0s;
   padding: 20px;
   background:var(--icons-color);
   border-radius:50%;
   width: 100px;
   height: 100px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items:center;
   border-color:#fff;
}
.video__box_play-btn:hover{
   cursor: pointer;
   box-sizing:border-box;
   border:3px solid #fff;
}
.video__box_icon{
   fill: #fff;
}
.who__info{
   padding: 40px 0px 0px 110px;
   width: 455px;
   box-sizing:border-box;
}
.who__info_title{
   font-size: 40px;
   font-weight: 700;
   text-align: left;
   margin-bottom:30px;
   line-height: 52px;
   color: var(--title-color);
}
.who__info_subtitle{
   // margin: 0px auto;
   text-align: left;
   font-size: 14px;
   font-weight: 400;
   line-height: 20px;
   // width: 500px;
   margin-bottom: 55px;
   color: var(--subtitle-color);
}
.who__list{}
.list__item{
   margin:0px 0px 40px 0px;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items:flex-start;
}
.list__item_icons{
   fill: var(--color-active);
   width: 32px;
   height: 32px;
   margin:0px 20px 0px 0px;
}
.list__items_info{}
.info__items_title{
   font-size: 16px;
   font-weight: 700;
   color: var(--title-color);
   margin-bottom: 10px;
}
.info__items_subtitle{
   font-size: 14px;
   font-weight: 600;
   color: var(--subtitle-color);
}